Perform the following operations using Python on the Facebook metrics data sets
a. Create data subsets
b. Merge Data
c. Sort Data
d. Transposing Data
e. Shape and reshape Data

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("dataset_Facebook.csv", delimiter=";")
df

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

In [4]:
df_considered = df.iloc[:, 0:4]
df_considered

     Page total likes    Type  Category  Post Month
0              139441   Photo         2          12
1              139441  Status         2          12
2              139441   Photo         3          12
3              139441   Photo         2          12
4              139441   Photo         2          12
..                ...     ...       ...         ...
495             85093   Photo         3           1
496             81370   Photo         2           1
497             81370   Photo         1           1
498             81370   Photo         3           1
499             81370   Photo         2           1

[500 rows x 4 columns]

# Creating data subsets

In [5]:
columns = df.columns
columns

Index(['Page total likes', 'Type', 'Category', 'Post Month', 'Post Weekday',
       'Post Hour', 'Paid', 'Lifetime Post Total Reach',
       'Lifetime Post Total Impressions', 'Lifetime Engaged Users',
       'Lifetime Post Consumers', 'Lifetime Post Consumptions',
       'Lifetime Post Impressions by people who have liked your Page',
       'Lifetime Post reach by people who like your Page',
       'Lifetime People who have liked your Page and engaged with your post',
       'comment', 'like', 'share', 'Total Interactions'],
      dtype='object')

In [6]:
col_subsets = []
it = []
for i in range(0, len(columns), 5):
    if i <= len(columns):
        it.append((i, i+5))
        col_subsets.append(df.iloc[:, i:i + 5 ])
print(col_subsets)
print(it)

[     Page total likes    Type  Category  Post Month  Post Weekday
0              139441   Photo         2          12             4
1              139441  Status         2          12             3
2              139441   Photo         3          12             3
3              139441   Photo         2          12             2
4              139441   Photo         2          12             2
..                ...     ...       ...         ...           ...
495             85093   Photo         3           1             7
496             81370   Photo         2           1             5
497             81370   Photo         1           1             5
498             81370   Photo         3           1             4
499             81370   Photo         2           1             4

[500 rows x 5 columns],      Post Hour  Paid  Lifetime Post Total Reach  \
0            3   0.0                       2752
1           10   0.0                      10460
2            3   0.0                       2413
3           10   1.0                      50128
4            3   0.0                       7244
..         ...   ...                        ...
495          2   0.0                       4684
496          8   0.0                       3480
497          2   0.0                       3778
498         11   0.0                       4156
499          4   NaN                       4188

     Lifetime Post Total Impressions  Lifetime Engaged Users
0                               5091                     178
1                              19057                    1457
2                               4373                     177
3                              87991                    2211
4                              13594                     671
..                               ...                     ...
495                             7536                     733
496                             6229                     537
497                             7216                     625
498                             7564                     626
499                             7292                     564

[500 rows x 5 columns],      Lifetime Post Consumers  Lifetime Post Consumptions  \
0                        109                         159
1                       1361                        1674
2                        113                         154
3                        790                        1119
4                        410                         580
..                       ...                         ...
495                      708                         985
496                      508                         687
497                      572                         795
498                      574                         832
499                      524                         743

     Lifetime Post Impressions by people who have liked your Page  \
0                                                 3078
1                                                11710
2                                                 2812
3                                                61027
4                                                 6228
..                                                 ...
495                                               4750
496                                               3961
497                                               4742
498                                               4534
499                                               3861

     Lifetime Post reach by people who like your Page  \
0                                                1640
1                                                6112
2                                                1503
3                                               32048
4                                                3200
..                                                ...
495                                              2876
496                                              2104
497                                              2388
498                                              2452
499                                              2200

     Lifetime People who have liked your Page and engaged with your post
0                                                  119
1                                                 1108
2                                                  132
3                                                 1386
4                                                  396
..                                                 ...
495                                                392
496                                                301
497                                                363
498                                                370
499                                                316

[500 rows x 5 columns],      comment    like  share  Total Interactions
0          4    79.0   17.0                 100
1          5   130.0   29.0                 164
2          0    66.0   14.0                  80
3         58  1572.0  147.0                1777
4         19   325.0   49.0                 393
..       ...     ...    ...                 ...
495        5    53.0   26.0                  84
496        0    53.0   22.0                  75
497        4    93.0   18.0                 115
498        7    91.0   38.0                 136
499        0    91.0   28.0                 119

[500 rows x 4 columns]]
[(0, 5), (5, 10), (10, 15), (15, 20)]

## Merge Data subsets

In [14]:
mergeable_subsets = []
mergeable_subsets.append(df.iloc[:, 0:3])
mergeable_subsets.append(df.iloc[:, 2:5])
mergeable_subsets

[     Page total likes    Type  Category
 0              139441   Photo         2
 1              139441  Status         2
 2              139441   Photo         3
 3              139441   Photo         2
 4              139441   Photo         2
 ..                ...     ...       ...
 495             85093   Photo         3
 496             81370   Photo         2
 497             81370   Photo         1
 498             81370   Photo         3
 499             81370   Photo         2

 [500 rows x 3 columns],
      Category  Post Month  Post Weekday
 0           2          12             4
 1           2          12             3
 2           3          12             3
 3           2          12             2
 4           2          12             2
 ..        ...         ...           ...
 495         3           1             7
 496         2           1             5
 497         1           1             5
 498         3           1             4
 499         2           1             4

 [500 rows x 3 columns]]

In [15]:
mergeable_subsets[0]

     Page total likes    Type  Category
0              139441   Photo         2
1              139441  Status         2
2              139441   Photo         3
3              139441   Photo         2
4              139441   Photo         2
..                ...     ...       ...
495             85093   Photo         3
496             81370   Photo         2
497             81370   Photo         1
498             81370   Photo         3
499             81370   Photo         2

[500 rows x 3 columns]

In [16]:
mergeable_subsets[1]

     Category  Post Month  Post Weekday
0           2          12             4
1           2          12             3
2           3          12             3
3           2          12             2
4           2          12             2
..        ...         ...           ...
495         3           1             7
496         2           1             5
497         1           1             5
498         3           1             4
499         2           1             4

[500 rows x 3 columns]

In [18]:
merged_dataset = mergeable_subsets[1].merge(mergeable_subsets[0], on="Category", how="inner")

In [19]:
merged_dataset

       Category  Post Month  Post Weekday  Page total likes    Type
0             2          12             4            139441   Photo
1             2          12             4            139441  Status
2             2          12             4            139441   Photo
3             2          12             4            139441   Photo
4             2          12             4            139441  Status
...         ...         ...           ...               ...     ...
87145         2           1             4             91758   Photo
87146         2           1             4             86909   Photo
87147         2           1             4             86491   Photo
87148         2           1             4             81370   Photo
87149         2           1             4             81370   Photo

[87150 rows x 5 columns]

# Sorting Data

In [21]:
sorted_data = df.sort_values(by="Page total likes", ascending=True)
sorted_data

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
493,85093,Photo,3,1,1,2,0.0,8412,13960,1179,1111,1632,8632,5348,699,17,185.0,55.0,257
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10,139441,Status,2,12,5,10,0.0,21744,42334,4258,4100,4540,37849,18952,3798,0,233.0,19.0,252
11,139441,Photo,2,12,5,10,0.0,3112,5590,208,127,145,3887,2174,165,0,88.0,18.0,106
13,139441,Photo,2,12,5,3,0.0,2549,4896,249,134,168,3631,1917,183,5,137.0,10.0,152
7,139441,Photo,3,12,7,9,1.0,13720,24137,537,232,305,19728,11056,422,0,325.0,14.0,339
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100

# Transposing Data

In [23]:
transposed_data = df.T
transposed_data

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
Page total likes,139441,139441,139441,139441,139441,139441,139441,139441,139441,139441,...,85979,85979,85979,85093,85093,85093,81370,81370,81370,81370
Type,Photo,Status,Photo,Photo,Photo,Status,Photo,Photo,Status,Photo,...,Photo,Photo,Link,Photo,Photo,Photo,Photo,Photo,Photo,Photo
Category,2,2,3,2,2,2,3,3,2,3,...,3,3,1,3,3,3,2,1,3,2
Post Month,12,12,12,12,12,12,12,12,12,12,...,1,1,1,1,1,1,1,1,1,1
Post Weekday,4,3,3,2,2,1,1,7,7,6,...,6,6,5,1,7,7,5,5,4,4
Post Hour,3,10,3,10,3,9,3,9,3,10,...,11,3,11,2,10,2,8,2,11,4
Paid,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
Lifetime Post Total Reach,2752,10460,2413,50128,7244,10472,11692,13720,11844,4694,...,5280,6184,45920,8412,5400,4684,3480,3778,4156,4188
Lifetime Post Total Impressions,5091,19057,4373,87991,13594,20849,19479,24137,22538,8668,...,8703,10228,5808,13960,9218,7536,6229,7216,7564,7292
Lifetime Engaged Users,178,1457,177,2211,671,1191,481,537,1530,280,...,951,956,753,1179,810,733,537,625,626,564
Lifetime Post Consumers,109,1361,113,790,410,1073,265,232,1407,183,...,911,901,655,1111,756,708,508,572,574,524
Lifetime Post Consumptions,159,1674,154,1119,580,1389,364,305,1692,250,...,1237,1140,763,1632,1003,985,687,795,832,743
Lifetime Post Impressions by people who have liked your Page,3078,11710,2812,61027,6228,16034,15432,19728,15220,4309,...,5757,6085,15766,8632,5654,4750,3961,4742,4534,3861
Lifetime Post reach by people who like your Page,1640,6112,1503,32048,3200,7852,9328,11056,7912,2324,...,3300,3502,10720,5348,3230,2876,2104,2388,2452,2200
Lifetime People who have liked your Page and engaged with your post,119,1108,132,1386,396,1016,379,422,1250,199,...,431,437,220,699,422,392,301,363,370,316
comment,4,5,0,58,19,1,3,0,0,3,...,1,1,0,17,10,5,0,4,7,0
like,79.0,130.0,66.0,1572.0,325.0,152.0,249.0,325.0,161.0,113.0,...,79.0,105.0,128.0,185.0,125.0,53.0,53.0,93.0,91.0,91.0
share,17.0,29.0,14.0,147.0,49.0,33.0,27.0,14.0,31.0,26.0,...,30.0,46.0,9.0,55.0,41.0,26.0,22.0,18.0,38.0,28.0
Total Interactions,100,164,80,1777,393,186,279,339,192,142,...,110,152,137,257,176,84,75,115,136,119